<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
    <h3>Student Registration Form</h3>
    <form th:action="@{/proccessStudentForm}" th:object="${student}" method="post">
        First name: <input type="text" th:field="*{firstName}"/>
        <br><br>
        Last name: <input type="text" th:field="*{lastName}"/>
        <br><br>
        Country:
        <select th:field="*{country}">
            <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
        </select>
        <br><br>
        Favorite programming language:
        <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLang: ${languages}" th:value="${tempLang}" th:text="${tempLang}"/>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>